body {
  background-color: tan;
  font-family: Garamond, serif;
}

h1 {
  text-align: center;
  margin: auto;
  width: 80%;
  padding: 10px;
}    

h2 {
  text-align: center;
  margin: auto;
  width: 80%;
  padding: 10px;
} 

.autumn{
  margin: 0px;
  background: saddlebrown;
  width: 825px;
  text-transform: uppercase;
  color: beige;
}
.poem{
  margin: 10px;
  background: beige;
  width: 400px;
}
.rilke{
  margin: 10px;
  background: beige;
  width: 330px;
}
.container{
  flex-wrap: wrap;
  display: flex;
  border: 2px solid saddlebrown;
  align-items: center;
  justify-content: center;
  max-width: 825px;
  border-spacing: 10px;
  background: beige;
  margin-left: auto;
  margin-right: auto;
} 
p{
  font-size: 20px;
  padding: 2px;
}

.rilke {
  position: relative;
  width: 45%;
}

.image {
  display: block;
  width: auto;
  height: auto;
}

/* bio overlay */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: saddlebrown;
}

.rilke:hover .overlay {
  opacity: 1;
}

.bio {
  color: white;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* hover zoom for poem */

.poem:hover {
  transform: scale(1.25); 
}

/*right leaves animation*/
    #leavesr {
        position:relative;
        top:-50px;
        width:100%;
        text-align: right;
    }

      #leavesr i {
        display: inline-block;
        width: 200px;
        height: 150px;
        background: linear-gradient(to bottom right, #309900, #005600);
        transform: skew(20deg);
        border-radius: 5% 40% 70%;
        box-shadow: inset 0px 0px 1px #222;
        border: 1px solid #333;
        z-index: 1;
        -webkit-animation: falling 5s 0s infinite;
    }
 
    #leavesr i:nth-of-type(n)    { height:23px; width:30px; }
    #leavesr i:nth-of-type(n):before { width:7px; height:5px; top:17px; right:1px; }
    #leavesr i:nth-of-type(n):after { width:2px; height:17px; left: 12px; top:0px; }
     
    #leavesr i:nth-of-type(2n+1)    { height:11px; width:16px; }
    #leavesr i:nth-of-type(2n+1):before { width:4px; height:3px; top:7px; right:0px; }
    #leavesr i:nth-of-type(2n+1):after { width:2px; height:6px; left: 5px; top:1px; }
     
    #leavesr i:nth-of-type(3n+2)  { height:17px; width:23px; }
    #leavesr i:nth-of-type(3n+2):before  { height:4px; width:4px; top:12px; right:1px; }
    #leavesr i:nth-of-type(3n+2):after  { height:10px; width:2px; top:1px; left:8px; }

    #leavesr i:nth-of-type(n)    { background: linear-gradient(to bottom right, #309900, #005600); }
    #leavesr i:nth-of-type(2n+2)  { background: linear-gradient(to bottom right, #5e9900, #2b5600); }
    #leavesr i:nth-of-type(4n+1)  { background: linear-gradient(to bottom right, #990, #564500); }
     
    #leavesr i:nth-of-type(n)    { opacity: .7;}
    #leavesr i:nth-of-type(3n+1)  { opacity: .5;}
    #leavesr i:nth-of-type(3n+2)  { opacity: .3;}
     
    #leavesr i:nth-of-type(n)    {transform: rotate(180deg);}
     
     
    #leavesr i:nth-of-type(n) { -webkit-animation-timing-function:ease-in-out;}
    
        @-webkit-keyframes falling {
        
        0% {
            -webkit-transform:
                translate3d(300,0,0)
                rotate(0deg);
        }
        
        100% {
            -webkit-transform:
                translate3d(-350px,700px,0)
                rotate(90deg);
            opacity: 0;
        }
    }
     
    @-webkit-keyframes falling3 {
         0% {
            -webkit-transform:
                translate3d(0,0,0)
                rotate(-20deg);
        }
        
        100% {
            -webkit-transform:
                translate3d(-230px,640px,0)
                rotate(-70deg);
            opacity: 0;
        }
    }
     
    @-webkit-keyframes falling2 {
         0% {
            -webkit-transform: 
                translate3d(0,0,0)
                rotate(90deg);
        }
        
        100% {
            -webkit-transform:
                translate3d(-400px,680px,0)
                rotate(0deg);
            opacity: 0;
        }
    }

    #leavesr i:nth-of-type(2n) {animation: falling2 5s 0s infinite; }
    #leavesr i:nth-of-type(3n) {animation: falling3 5s 0s infinite; }

    #leavesr i:nth-of-type(n)   {animation-delay: 1.9s;}
    #leavesr i:nth-of-type(2n)  {animation-delay: 3.9s;}
    #leavesr i:nth-of-type(3n)  {animation-delay: 2.3s;}
    #leavesr i:nth-of-type(4n)  {animation-delay: 4.4s;}
    #leavesr i:nth-of-type(5n)  {animation-delay: 5s;  }
    #leavesr i:nth-of-type(6n)  {animation-delay: 3.5s;}
    #leavesr i:nth-of-type(7n)  {animation-delay: 2.8s;}
    #leavesr i:nth-of-type(8n)  {animation-delay: 1.5s;}
    #leavesr i:nth-of-type(9n)  {animation-delay: 3.3s;}
    #leavesr i:nth-of-type(10n) {animation-delay: 2.5s;}
    #leavesr i:nth-of-type(11n) {animation-delay: 1.2s;}
    #leavesr i:nth-of-type(12n) {animation-delay: 4.1s;}
    #leavesr i:nth-of-type(13n) {animation-delay: 1s;  }
    #leavesr i:nth-of-type(14n) {animation-delay: 4.7s;}
    #leavesr i:nth-of-type(15n) {animation-delay: 3s;  }

/*left leaves animation*/
    #leaves {
        position:relative;
        top:-50px;
        width:100%;
        text-align: left;
    }

        #leaves i {
        display: inline-block;
        width: 200px;
        height: 150px;
        background: linear-gradient(to bottom right, #309900, #005600);
        transform: skew(20deg);
        border-radius: 5% 40% 70%;
        box-shadow: inset 0px 0px 1px #222;
        border: 1px solid #333;
        z-index: 1;
        -webkit-animation: falling 5s 0s infinite;
    }

    #leaves i:nth-of-type(n)    { height:23px; width:30px; }
    #leaves i:nth-of-type(n):before { width:7px; height:5px; top:17px; right:1px; }
    #leaves i:nth-of-type(n):after { width:2px; height:17px; left: 12px; top:0px; }
     
    #leaves i:nth-of-type(2n+1)    { height:11px; width:16px; }
    #leaves i:nth-of-type(2n+1):before { width:4px; height:3px; top:7px; right:0px; }
    #leaves i:nth-of-type(2n+1):after { width:2px; height:6px; left: 5px; top:1px; }
     
    #leaves i:nth-of-type(3n+2)  { height:17px; width:23px; }
    #leaves i:nth-of-type(3n+2):before  { height:4px; width:4px; top:12px; right:1px; }
    #leaves i:nth-of-type(3n+2):after  { height:10px; width:2px; top:1px; left:8px; }

    #leaves i:nth-of-type(n)    { background: linear-gradient(to bottom right, #309900, #005600); }
    #leaves i:nth-of-type(2n+2)  { background: linear-gradient(to bottom right, #5e9900, #2b5600); }
    #leaves i:nth-of-type(4n+1)  { background: linear-gradient(to bottom right, #990, #564500); }

    #leaves i:nth-of-type(n)    { opacity: .7;}
    #leaves i:nth-of-type(3n+1)  { opacity: .5;}
    #leaves i:nth-of-type(3n+2)  { opacity: .3;}
     
    #leaves i:nth-of-type(n)    {transform: rotate(180deg);}
     
     
    #leaves i:nth-of-type(n) { -webkit-animation-timing-function:ease-in-out;}
    
        @-webkit-keyframes falling {
        
        0% {
            -webkit-transform:
                translate3d(300,0,0)
                rotate(0deg);
        }
        
        100% {
            -webkit-transform:
                translate3d(-350px,700px,0)
                rotate(90deg);
            opacity: 0;
        }
    }
     
    @-webkit-keyframes falling3 {
         0% {
            -webkit-transform:
                translate3d(0,0,0)
                rotate(-20deg);
        }
        
        100% {
            -webkit-transform:
                translate3d(-230px,640px,0)
                rotate(-70deg);
            opacity: 0;
        }
    }
     
    @-webkit-keyframes falling2 {
         0% {
            -webkit-transform:
                translate3d(0,0,0)
                rotate(90deg);
        }
        
        100% {
            -webkit-transform:
                translate3d(-400px,680px,0)
                rotate(0deg);
            opacity: 0;
        }
    }

    #leaves i:nth-of-type(2n) {animation: falling2 5s 0s infinite; }
    #leaves i:nth-of-type(3n) {animation: falling3 5s 0s infinite; }

    #leaves i:nth-of-type(n)   {animation-delay: 1.9s;}
    #leaves i:nth-of-type(2n)  {animation-delay: 3.9s;}
    #leaves i:nth-of-type(3n)  {animation-delay: 2.3s;}
    #leaves i:nth-of-type(4n)  {animation-delay: 4.4s;}
    #leaves i:nth-of-type(5n)  {animation-delay: 5s;  }
    #leaves i:nth-of-type(6n)  {animation-delay: 3.5s;}
    #leaves i:nth-of-type(7n)  {animation-delay: 2.8s;}
    #leaves i:nth-of-type(8n)  {animation-delay: 1.5s;}
    #leaves i:nth-of-type(9n)  {animation-delay: 3.3s;}
    #leaves i:nth-of-type(10n) {animation-delay: 2.5s;}
    #leaves i:nth-of-type(11n) {animation-delay: 1.2s;}
    #leaves i:nth-of-type(12n) {animation-delay: 4.1s;}
    #leaves i:nth-of-type(13n) {animation-delay: 1s;  }
    #leaves i:nth-of-type(14n) {animation-delay: 4.7s;}
    #leaves i:nth-of-type(15n) {animation-delay: 3s;  }
