* {
   box-sizing: border-box;
   font-family: 'Fjalla One', Impact, Arial, sans-serif;
}

body {
   background-image: url("images/lines.png")
}

form {
   padding: 10px;
   width: 75%;
   margin: 50px auto;
   text-align: center;
}

#tempCalc label {
   font-size: 30px;
}

#temp {
   border: none;
   padding: 10px;
   height: 40px;
   width: 100px;
   font-size: 20px;
   margin-top: 20px;
}

#temp_diff {
   height: 40px;
   border: none;
   margin-top: 20px;
   font-size: 15px;
   vertical-align: top;
}

[type="submit"] {
   height: 35px;
   margin: 20px;
   width: 100px;
   font-size: 15px;
   border: none;
   background-color: black;
   color: white;
}

#resultContainer {
   font-size: 35px;
}

/* flex container to centre items */
.container{
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  border-spacing: 1px;
  background: lightsteelblue;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
} 

.converter{
  width: 400px;
}